@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("./../bg.jpg");
  background-size: cover;
  overflow: hidden;
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  background: #33333381;
  width: 85px;
  overflow: hidden;
  transition: width 0.2s linear;
}
/*.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}
.logo span{
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
}*/
nav ul {
  position: relative;
}
a {
  position: relative;
  color: navajowhite;
  font-size: 14px;
  display: table;
  width: 300px;
  padding: 10px;
}
.fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover {
  background: #9db2bf;
}
nav:hover {
  width: 280px;
  transition: all 0.5s ease;
}
.logout {
  position: absolute;
  top: 88vh;
}

ul {
  list-style-type: none;
  padding: 0;
}

.logo {
  font-family: "Times New Roman", Times, serif;
  color: rgb(50, 205, 182);
  padding-left: 6px;
  font-size: 55px;
  font-weight: 900;
}

header {
  background-color: #33333381;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.head {
  position: relative;
  left: 53%;
  transform: translateX(-50%);
}

h1 {
  padding-top: 15px;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 200;
  font-family: "Courier New", Courier, monospace;
}

#user-info {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#username,
#completed-tasks {
  font-style: italic;
}

input,
button {
  margin-bottom: 10px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

#completed-tasks {
  color: white;
  padding-top: 0%;
  padding-bottom: 5px;
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  font-size: 34px;
}

.container {
  position: relative;
  top: 30vh;
  left: 3vw;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    rgba(235, 245, 179, 0.456),
    rgba(128, 128, 128, 0.713)
  );
}

#user-info {
  margin-bottom: 20px;
  margin-right: 10px;
}

#task-form {
  margin-bottom: 20px;
}

#task-filter {
  margin-bottom: 20px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.task-item span {
  flex-grow: 1;
  margin-right: 10px;
}

.task-actions button {
  margin-left: 10px;
}

h2 {
  color: white;
  text-decoration: underline;
  font-style: italic;
}
